.f-a-c {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}


.shrink-0 {
  flex-shrink: 0;
}

.mr-15 {
  margin-right: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.px-15 {
  padding: 0 15px;
}

.pd-20px {
  padding: 20px;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}
