$blue: #324157;
$light-blue: #3A71A8;
$skyBlue: #198fff;
$deepBlue: rgb(37, 104, 214);
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$danger: #F56C6C;
$success: #67C23A;
$warning: #E6A23C;
$info: #909399;
$mainBackground: #e3e4e6;
$menuText: #bfcbd9;
$menuActiveText: #409EFF;
$subMenuActiveText: #f4f4f5;
$mainFontColor: #303133;
$generalFontColor: #606266;
$minorFontColor: #909399;
$stanceFontColor: #C0C4CC;
$border: #E4E7ED;
$menuBg: #35395c;
$menuHover: #2d325f;
$shadowTop: 0 -2px 4px #f5f5f5;
$shadowBottom: 0 1px 4px rgba(0,21,41,.08);
$lightBackground: #f5f7fa;
$subMenuBg: #222750;
$subMenuHover: #1b1e3e;
